<title>TLC Dental Group Syracuse | Abscessed Tooth or Gum</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Abscessed Tooth or Gum</h3>
			<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			<p>
				A dental abscess is a bacterial infection of two types.  A gum abscess (periodontal abscess) is generally occasioned by an infection in the space between the tooth and the gum.  A tooth abscess (periapical abscess) starts inside the tooth and appears at the tip of the tooth’s root.<br>
			</p>
			<p>
				As untreated abscesses may cause serious health problems by spreading to surrounding teeth and tissue, other parts of the body, and even to family and friends, you should see TLC Dental for immediate consultation.  We will detect the source of your infection and offer you options for proper treatment.<br>
			</p>
			<p>
				For more information on abscessed teeth and gums click on Dr. Rothenberg’s Dental Encyclopedia and Dr. Rothenbergs’s Dental Dictionary.  And for prompt treatment and alleviation of your abscessed tooth or gum, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>
		</div>
	</div>
</div>