<title>Bad Breath | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Bad Breath</h3>
			<p>
				Bad breath or halitosis is breath with an unpleasant odor.  Some bad breath, such as “morning mouth” or food (i.e. onion or garlic) tainted breath is normal.  However, bad breath may be caused by abnormal conditions that threaten your health and require diagnosis and treatment:
			</p>
			<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			<ul>
				<li>Poor dental hygiene</li>
				<li>Infections in the mouth</li>
				<li>Dry Mouth (Xerostomia)</li>
				<li>Respiratory tract infections</li>
				<li>Diseases of the liver, lung, kidney, digestive tract, and sinus; diabetes, reflux, etc.</li>
				<li>Smoking and chewing tobacco</li>
			</ul>
			<p>	
				To establish its cause, we will review your medical history, diet, personal habits, and symptoms.  We also will carefully examine your teeth, gums, mouth, and salivary glands.  We then will provide you with appropriate treatment or refer you to a physician for further testing.<br>
			</p>
			<p>
				Throughout your examination and treatment you will enjoy the comfort of our signature “Gentle Dentistry.”<br>
			</p>
			<p>
				For definitions related to halitosis consult Dr. Rothenberg's Dental Dictionary. <span class="redlink"> And for prompt diagnosis and treatment of your bad breath, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684 or click <%= link_to "here to email us", contact_path(@contact, :anchor => "email"), :class => "redlink" %>. </span>    
			</p>									
		</div>
	</div>
</div>