<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Swollen, Tender Bleeding Gums</h3>
			<p>
				Swollen, tender, and bleeding gums may be a symptom of gingivitis or more advanced periodontal disease<br>
			</p>
			<p>
				Gingivitis is a common gum disease primarily caused by plaque, an invisible, sticky, biofilm of bacteria and food elements that continually forms in the mouth, covers teeth and gums, and becomes corrosive.  Good oral hygiene with daily flossing and brushing inhibits plaque.  However, if not cleaned away, plaque soon hardens under the gum line into tartar (calculus) that provides a protective shield for the bacteria and can only be removed in a professional dental cleaning.<br>
			</p>	
			<p>
				Symptoms of gingivitis include:
			</p>
			<ul>
				<li>Reddened, swollen, tender, or bleeding gums</li>
				<li>Gums that bleed easily when  you brush or floss</li>
				<li>Bad Breath</li>
				<li>An unpleasant taste in your mouth</li>
			</ul>
			<p>
				Advanced Periodontal Disease or Periodontitis is a severe form of gum, tissue, and bone disease that often derives from gingivitis and that similarly is exacerbated by poor oral hygiene, poor nutrition, tobacco and substance use, diabetes, certain diseases, infections, and medications, dry mouth, and ill-fitting dentures.<br>
			</p>
			<p>
				Advanced periodontal disease may result in extensive gingival infection, tooth loss, jawbone deterioration, and an increased risk of heart attack, stroke, lung disease, rheumatoid arthritis, diabetes, dementia, and premature birth.  It is not curable but with proper treatment, it can be controlled.<br>
			</p>
			<p>
				Symptoms of advanced periodontal disease include:
			</p>
			<%= image_tag "wisdomtooth.jpg", :class => "float-right" %>
			<ul>
				<li>Reddened, receding, swollen, tender, or bleeding gums</li>
				<li>Gums that bleed easily when  you brush or floss</li>
				<li>Gums that detach from the teeth causing pockets</li>
				<li>An unpleasant taste in your mouth</li>
				<li>Bad Breath</li>
				<li>Loose teeth</li>
				<li>Extreme tooth sensitivity caused by exposed dentin</li>
				<li>Pain when chewing</li>
			</ul>
			<p>
				If you experience any of these symptoms, it is vitally important that you seek prompt treatment from TLC.  We will address your symptoms with a methodical examination, a thorough and therapeutic professional cleaning, and offer additional options such as TLC Arestin Treatment  and a Soft Tissue Management (STM) program to restore your oral health.  For more information on TLC Arestin Treatment click here.  For more information on Soft Tissue Management click here.<br>
			</p>
			<p>
				Throughout your corrective procedure you will enjoy the comfort of our signature “Gentle Dentistry.” 
			</p>
		</div>
	</div>
</div>