<title>TLC Dental Group Syracuse | Fractured or Broken Tooth</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Fractured or Broken Tooth</h3>
			<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			There are numerous types of tooth fractures (cracks) and breaks including
			<ul>
				<li>Minor Cracks</li>
				<li>Whole Tooth Cracks</li>
				<li>Chips</li>
				<li>Broken Cusp</li>
				<li>Split Tooth</li>
				<li>Vertical or Split Root Break</li>
				<li>Horizontal cracks and fractures</li>
				<li>Decay Induced Break</li>
			</ul>
			<p>	
				Fractured and broken teeth, regardless of cause and severity, should immediately be addressed by TLC.  We will provide you with instruction on immediate care of the tooth and upon arrival at our office we will carefully examine the tooth infraction and offer options for an appropriate restorative procedure.<br>
			</p>
			<p>
				Throughout this treatment you will enjoy the comfort of our signature “Gentle Dentistry."<br>
			</p>
			<p>
				For more information on fractured or broken teeth, click on Dr. Rothenberg’s Dental Encyclopedia.  And for prompt treatment and alleviation of these conditions, please call the TLC Dental Group Fayetteville / Manlius office at 315-637-7684.<br>
			</p>
			<p>
				For more information on fractured or broken teeth, click on Dr. Rothenberg’s Dental Encyclopedia and Dr. Rothenberg's Dental Dictionary.  And for prompt treatment and alleviation of these conditions, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>									
		</div>
	</div>
</div>