<title>Broken or Ill Fitting Dentures | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container" style="padding-bottom:25px;">
			<h3>Broken or Ill Fitting Dentures</h3>
			<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			<p>
				If your dentures are broken or ill-fitting, you should seek prompt treatment from TLC Dental to assure your dental health and comfort.  If your dentures are ill fitting, we will adjust them for a proper fit.  If they are broken, we will attempt to repair them or, if they are irreparable, we will replace them with new dentures for optimum comfort in eating, speaking, and smiling. <br>
			</p>
			<p>
				Throughout your examination and treatment you will enjoy the comfort of our signature "Gentle Dentistry.
			</p>
			<p>
				For definitions related to dentures consult Dr. Rothenberg's Dental Dictionary.  <span class="redlink">And for prompt treatment of broken or ill fitting dentures, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684 or click <%= link_to "here to email us", contact_path(@contact, :anchor => "email"), :class => "redlink" %>. </span>
			</p>								
		</div>
	</div>
</div>