<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container" style="padding-bottom:10px;">
			<h3>Broken or Ill Fitting Dentures</h3>
			<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			<p>
				If your dentures are broken or ill-fitting, you should seek prompt treatment from TLC Dental to assure your dental health and comfort.  If your dentures are ill fitting, we will adjust them for a proper fit.  If they are broken, we will attempt to repair them tor, if they are irreparable, we will replace them with new dentures for optimum comfort in eating, speaking, and smiling. <br>
			</p>
			<p>
				For more information on broken or ill fitting dentures, click on Dr. Rothenberg's Dental Encyclopedia and Dr. Rothenberg's Dental Dictionary.  And for prompt treatment of broken or ill fitting dentures, tplease call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>								
		</div>
	</div>
</div>