<title>Burning Mouth Syndrome | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Burning Mouth Syndrome</h3>
			<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			<p>
				Burning Mouth Syndrome or BMS is a condition characterized by a burning or “scalding” sensation in the mouth, throat, lips, and tongue.  It is often gradual and intensifying in nature and can induce irritability, anxiety, depression, and insomnia. Its causes are multiple, including irritating dentures, dry mouth, tongue thrusting, teeth grinding, thrush, acid reflux, allergies, medications, nerve and psychological disorders. BMS also may be a sign of oral cancer so if you suffer from its burning or “scalding” symptoms of you should see TLC Dental for prompt diagnosis and treatment.<br>
			</p>
			<p>
				To establish its cause we will review your medical history, medications, and symptoms. We will carefully examine your throat, mouth, tongue and lips, and test for thrush and other disorders. We then will provide you with appropriate treatment or refer you to a physician for further testing.<br>
			</p>
			<p>
				Throughout your examination and treatment you will enjoy the comfort of our signature “Gentle Dentistry.”For more information on Burning Mouth Syndrome click on Dr. Rothenberg’s Dental Encyclopedia. and Dr. Rothenberg's Dental Dictionary.  And for prompt diagnosis and treatment of your BMS, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.    
			</p>								
		</div>
	</div>
</div>