<title>Dental Cleaning | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Dream Smile Solutions</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Dental Cleaning</h3> 
			<p>
				A Professional Dental Cleaning or “Recare” is a comfortable, biannual or, if needed, more frequent procedure that lasts approximately one hour and is performed by our highly skilled and experienced hygienists. It is an essential part of achieving and maintaining your “Dream Smile” and is comprised of the following services:  
			</p>
			<h6><b>Diagnostic</b></h6>
			<ul>
				<li>Review and update medical history including changes in medical condition, medications and therapeutic treatments</li>
				<li>Check blood pressure</li>
				<li>Screen for oral cancer</li>
				<li>Examine and evaluate gum tissue</li>
				<li>Examine and evaluate tooth structure and condition</li>
				<li>Examine and evaluate teeth for sealant application, repair, or replacement</li>
				<li>Digitally x-ray teeth for bone loss, cysts, tumors, infections, position, and 	decay</li>
				<li>Check biting, chewing, and swallowing patterns</li>
				<li>Plan treatments if needed</li>
				<li>Refer patients to specialists for certain treatments</li>
			</ul>
			<%= image_tag 'recaretooth.jpg', :class => "float-right" %>	
			<h6><b>Preventive</b></h6>
			<ul>
				<li>Remove dental plaque and tartar</li>
				<li>Provide periodontal pocket treatments</li>
				<li>Provide fluoride treatments</li>
				<li>Provide sealant treatments</li>
				<li>Provide Rotadent toothbrush introduction and instruction</li>
			</ul>
			<h6><b>Aesthetic</b></h6>
			<ul>
				<li>Remove dental stains</li>
				<li>Polish fillings and crowns</li>
			</ul>
			<h6><b>Educational</b></h6>
			<ul>
				<li>Provide oral hygiene instruction</li>
				<li>Provide nutritional counseling</li>
				<li>Evaluate self-care effectiveness</li>
				<li>Evaluate possible aesthetic enhancements</li>
				<li>Recommend and schedule future treatments</li>
			</ul>			
			<p>
				<b>Gentle Comfort</b><br>
				Throughout your “Recare” (Professional Dental Cleaning) you will enjoy the comfort of our signature “Gentle Dentistry.” 
			</p>
			<p>
				<b>“Recare” Durability</b><br>
				A biannual or, if needed, a more frequent “Recare” is essential to achieve and maintain your lifelong “Dream Smile”.
			</p>
			<p>
				<b>Bridge Appearance</b><br>
				A biannual “Recare” is expressive of our dictum “Dream Smiles for Life.”  Throughout the procedure we provide for your comfort and your continued dental health. After an hour of gentle care and cleaning, you enjoy a renewed and gleaming “Dream Smile”.
			</p>
			<p>
				<b>More Information</b><br>
				For definitions related to professional dental cleaning consult Dr. Rothenberg's Dental Dictionary.  To schedule a "Recare" please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>			
		</div>
	</div>
</div>