<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Cold Sores</h3>
			<p>
				Cold sores are caused by herpes simplex virus type 1 (HSV-1) that is transmitted by kissing, skin contact, and the sharing of towels and utensils with someone infected.  Most people are first infected with it before the age of ten when they get a fever, swollen neck glands, sore gums and throat.  The virus then becomes dormant or “hides” in facial nerves and approximately half of Americans are no longer affected by it.<br>
			</p>
			<p>	
				The other half regretfully experience secondary or recurrent episodes that may be initiated by stress, dental and lip trauma, illness, or sun exposure.  In these instances, one or more tiny “fever blisters” appear on the lip and then pop and form painful “cold sores” that crust in four days and generally heal within ten to fourteen days. Such outbreaks are painful, subject to lifelong recurrence, and without a cure.<br>
			</p>
			<p>
				However, the discomfort, duration, and frequency of secondary episodes can be mitigated by antiviral medication prescribed by TLC Dental.  As these medications are most effective when taken at the beginning of an outbreak, you should seek treatment from TLC with the onset of the tingling, burning or itching sensations that precede “fever blisters.”<br>
			</p>
			<p>
				An immune system weakened by disease or medication could be further compromised by a secondary episode of HSV-1 and pose serious health risks.  Under these circumstances, you should seek immediate treatment from TLC Dental if
				<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			</p>
			<ul>
				<li>Lip or mouth sores persist longer than one week</li>
				<li>The sores make it hard for you to talk or swallow</li>
				<li>You develop a fever</li>
				<li>You have a second outbreak of blisters</li>
			</ul>
			<p>	
				In treating your cold sores we will carefully examine your condition for any complications and prescribe appropriate medication to relieve your pain, expedite the healing, and reduce the frequency and severity of future episodes.<br>
			</p>
			<p>
				Throughout your examination you will enjoy the comfort of our signature “Gentle Dentistry.”  For more information on cold sores click on Dr. Rothenberg’s Dental Encyclopedia and Dr. Rothenberg's Dental Dictionary.  And for prompt examination and treatment of your cold sores, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>									
		</div>
	</div>
</div>