<title>Nexus of Dental and General Health | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Nexus of Dental & General Health</u>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<p style="color: #0f53a5; margin-top:30px;">
			Modern research is revealing a closer relationship between your dental and general health.  The bacteria that cause periodontal disease can reach far beyond the oral cavity and may affect the conditions listed in the chart below.
		</p>
		<p style="color: #0f53a5; margin-bottom:55px;">
			For research updates on that relationship between your dental health and general health, please pay regular visitings to the Wisdom Tooth at tlcwisdomtooth.com
		</p>
	</div>
</div>

<div class="row-fluid" style="text-align:center;">
	<div class="span10 offset1">
		<%= image_tag 'nexuschart.jpg' %>
	</div>
</div>