<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			Nexus of Dental & General Health
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<p style="color: #0f53a5;">
			Modern research is revealig a closer relationship between your dental health and general. The bacteria that cause preiodontal disease can reach far beyond the oral cavity and may affect these conditions:
		</p>
		<p style="color: #0f53a5;">
			For research updates on that relationship between your dental health and general health, please pay regular visitings to the TLC Wisdom Tooth at _________
		</p>
	</div>
</div>

<div class="row-fluid" style="text-align:center;">
	<div class="span12">
		<%= image_tag 'nexuschart.jpg' %>
	</div>
</div>