<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			Dream Smile Solutions
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="content-container" style="display: block;">
			<div class="row-fluid">
				<div class="span12">
					<h4>A smile has many graces.</h4>
					<p>
						It is kindness.
					</p>
					<ul class="nostyle">
						<li>“A smile is a universal welcome”  The Dalai Lama </li>
					</ul>
					<p>
						It is appearance.
					</p>
					<ul class="nostyle">
						<li>“A smile is the most important thing you wear.”  Yves Saint-Laurent</li>
					</ul>
					<p>
						It is confidence. 
					</p>
					<ul class="nostyle">
						<li>“A smile speaks success and confidence.”  Andrew Carnegie</li>
					</ul>
					<p>
						It is well-being.
					</p>
					<ul class="nostyle">
						<li>“Beauty, health, and happiness reside in your smile.”  Kate Middleton</li>
					</ul>
					<p>
						We create your Dream Smile from this rich and varied palette of aesthetic procedures.
					</p>
					<%= image_tag 'palate.jpg', :class => "float-right" %>
					<ul>
						<li>Bonding</li>
						<li>Bridges</li>
						<li>Cleaning</li>
						<li>Contouring</li>
						<li>Crowns</li>
						<li>Dentures</li>
						<li>Fillings</li>
						<li>Implants</li>
						<li>Snap-On Smile</li>
						<li>Veneers </li>
						<li>Whitening</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>