<title>Dental Fillings | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Dream Smile Solutions</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Dental Fillings</h3> 
			<p>
				A filling is dental restorative material used to restore a tooth with structural loss to its normal condition in health, function, and appearance.  
			</p>
			<%= image_tag 'filling.jpg', :class => "float-right" %>	
			<h6><b>Fillings</b></h6>
			<ul>
				<li>Remove tooth decay</li>
				<li>Deter future tooth decay</li>
				<li>Reduce risk of infecting other people with cavity causing bacteria</li>
				<li>Reduce infection causing bad breath</li>
				<li>Reduce infection causing inflammations that threaten general health</li>
				<li>Restore tooth structure lost to infection</li>
				<li>Replace missing, worn, cracked, leaking, and discolored fillings</li>
				<li>Restore cracked and broken teeth</li>
				<li>Restore worn teeth</li>
				<li>Restore appearance and self confidence diminished by decayed teeth</li>
				<li>Create your (Dream Smile)</li>
			</ul>

			<p>
				<b>Filling Procedure</b><br>
				There are two types of fillings for dental cavities.  A Direct Filling is generally completed in one office visit and an Indirect Filling in two office visits.
			</p>	
			<p>
				<b>Direct Fillings for Dental Cavities</b><br>
				TLC Dental first addresses a dental cavity by thoroughly examining a tooth to determine the location, nature, and extent of the cavity.  If it is suitable for a direct filling we then remove the decayed material, clean the affected area, prepare a liner or base if needed, properly shape the area, and emplace the filling.
			</p>	
			<p>
				<b>Indirect Fillings for Dental Cavities</b><br>
				There are two types of indirect fillings.  An inlay is a filling within the cusps (bumps) on the chewing surface of a tooth.  An onlay covers a more extensive area than an inlay and is often called a partial crown.<br>
			</p>
			<p>
				The initial steps in an indirect filling procedure are the same as those for a direct filling procedure save for the immediate emplacement of the filling.  In lieu of that, an exact measurement and mold (impression) of the area and a precise color match with your natural teeth are made for a specialized laboratory that prepares a high quality permanent filling. A temporary filling is then emplaced pending the completion, emplacement, and polishing of its successor.<br>
			</p>
			<p>
				In both direct and indirect fillings, TLC takes exceptional care to assure that your fillings provide for not only healthy teeth but also attractive teeth.<br>
			</p>											
			<p>
				<b>Gentle Comfort</b><br>
				In the preparation and emplacement of your fillings, you will enjoy the comfort of  our signature “Gentle Dentistry.”
			</p>			
			<p>
				<b>Filling Composition</b><br>
				TLC offers fillings of different composition that we thoroughly review with you to determine which one best realizes your Dream Smile.<br>
			</p>
			<p>
				Amalgam Fillings  are the least expensive and one of he strongest and longest lasting fillings. The FDA, ADA, and World Health Organization find that the very low levels of mercury in amalgam fillings hold no health risks<br>
			</p>
			<p>
				Gold Fillings are made to our exact specifications by a highly specialized laboratory.  They are non-corrosive and are the longest lasting of fillings.  They are well tolerated by gum tissue and their appearance is preferred by some patients.<br>
			</p>
			<p>
				Composite Resin Fillings gain additional support from bonding and can be used for several restorative purposes beyond fillings.  And they can be custom made to match the color of your natural teeth.<br>
			<p>
				Porcelain Fillings are made to our exact specifications by a highly specialized laboratory.  They wonderfully match the color of your teeth, are resistant to stains, and are very long lasting.<br>
			</p>			
			<p>
				<b>Filling Durability</b><br>
				The durability of a tooth filling, just like that of a normal tooth, is largely dependent on good dental hygiene and regular dental checkups.  With proper care, fillings may last for many years.
			</p>
			<p>
				<b>Filling Appearance</b><br>
				In its creation, emplacement, and ultimate appearance your filling reflects our motto “The Art of Gentle Dentistry.”  We provide for your comfort in the procedure and for your dental health in a sound and functional filling.  And in artfully designing your filling, we provide a truly resplendent addition to your “Dream Smile.”
			</p>
			<p>
				<b>More Information</b><br>
				For definitions related to dental fillings consult Dr. Rothenberg's Dental Dictionary.  <span class="redlink">To learn how you might benefit from dental fillings, please call the TLC Dental Group Fayetteville / Manlius office at (315)-637-7684 or click <%= link_to "here to email us", contact_path(@contact, :anchor => "email"), :class => "redlink" %>. </span>
			</p>			
		</div>
	</div>
</div>