<div class="green-pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<i><u>Green Dentistry</u></i>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="green-content-container">
			<div class="row-fluid">
				<div class="span5">				
					<h3>The Environmental Challenge</h3>
				</div>
				<div class="span7">
					<%= image_tag 'environmentchallenge.jpg' %>
				</div>				
			</div>				
			<p>
				We live in an age of daunting ecological change; an age in which rain forests lose their trees, coral reefs lose their color, mountain tops lose their snow, and poles lose their ice. Attending these changes are the extinction of thousands of species of flora and fauna, the impending loss of thousands more, and the debilitation of our environment. These are bellwethers that summon us to protect and preserve our planet. 
			</p>		
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="green-content-container">
			<div class="row-fluid">
				<div class="span5">				
					<h3>Green Dental Society</h3>
				</div>
				<div class="span7">
					<%= image_tag 'small_gds_seal.jpg' %>
				</div>				
			</div>				
			<p>
				To address the environmental challenge of our time, Dr. and Mrs. Rothenberg co-founded the Green Dental Society, an international non-profit organization that promotes eco-friendly practices within the dental profession.
			</p>		
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="green-content-container">
			<div class="row-fluid">
				<div class="span5">				
					<h3>Green Dental Society</h3>
				</div>
				<div class="span7">
					<%= image_tag 'small_6R_logo.jpg' %>
				</div>				
			</div>					
			<p>
				Our ethos is expressed in the “6-R” mantra: “reduce, replace, remove, reuse, recycle, refresh” that is reflected in such practices as:<br>
			</p>
				Reduce
				<ul>
					<li> Heat loss with well insulated walls, windows and pipes</li>
					<li> Energy loss with regular HVAC maintenance</li>
					<li> Paper printing with digital communications</li>
				</ul>
				Replace
				<ul>
					<li> Incandescent bulbs with fluorescent bulbs</li>
					<li> Disposable batteries with rechargeable batteries</li>
					<li> Paper files with digital files</li>
					<li> Toxic cleaning products with eco-friendly products</li>
				</ul>
				Remove
				<ul>
					<li> Eliminate x-ray film and chemicals with digital imaging</li>
					<li> Collect amalgam, mercury, lead waste with an amalgam separators</li>
				</ul>
				Reuse
				<ul>
					<li> Envelopes, paper clips, paper</li>
					<li> Boxes, packaging</li>
					<li> Donate used office furnishings and equipment to charities</li>
				</ul>
				Recycle
				<ul>
					<li> Old cell phones, monitors, computers</li>
					<li> Toners and cartridges</li>
					<li> Cans, plastic and glass bottles</li>
					<li> Cardboard, printed miscellanea</li>
					<li> Use recycled designer office floors</li>
					<li> Use recycled office stationery and supplies</li>
					<li> Use recycled paper towels and tissues</li>
				</ul>
				Refresh
				<ul>
					<li> Air purifiers</li>
					<li> Water distillers</li>
				</ul>		
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="green-content-container">
			<div class="row-fluid">
				<div class="span6">				
					<h3>The Green TLC Practice</h3>
				</div>
				<div class="span6">
					<%= image_tag 'greenTLC.jpg' %>
				</div>				
			</div>				
			<p>
				As founders of TLC and of the Green Dental Society, we proudly follow and promote policies that protect our planet. With ceilings lighted by fluorescent bulbs and designer flooring made from recycled material, our office is eco-friendly from top to bottom. We strive to care for both patient and planet by conserving water and energy, recycling waste, and preventing pollution.
			</p>		
		</div>
	</div>
</div>