<title>Home Page | TLC Dental Group Syracuse</title>
<div class="welcome-text">
	<div class="row-fluid">
		<div class="span12">
			<i><h3 style="text-decoration:underline">Welcome to TLC Dental Group</h3><h5>TLC is many facets of care.</h5></i>
		</div>
	</div>
</div>
<div id="left-welcome">
	<div class="row-fluid">
		<div class="span12">
			<i><p>
				<b>TLC is Art</b> expressed by our Toothbrush Mailbox<br>
				<b>TLC is Comfort</b> in the relaxed ambiance of our office<br>
				<b>TLC is Gentle</b> care for your peace of mind<br>
				<b>TLC is a Dream Smile</b>  from a palette of possibilities<br>
				<b>TLC is Robust Health</b>  from a full range of services<br>
				<b>TLC is Modern Technology </b>for optimum treatment<br>
			</p></i>
		</div>
	</div>
</div>
<div class="welcome-text">
	<div class="row-fluid">
		<div class="span12">
			<h5><i>
				We at TLC warmly welcome you to<br>
				our family of staff and patients.</i>
			</h5><br>
			<%=	image_tag 'homepage-signature.jpg' %>
		</div>
	</div>
</div>