<div class="row-fluid" style="text-align:center;">
	<div class="span3">
		<%= link_to image_tag( 'dreamsmiles-btn.png'), 'dreamsmiles' %>
	</div>
	<div class="span3 offset6">
		<%= image_tag 'socialmedia-btn.png' %>
	</div>
</div>
<div class="welcome-text">
	<div class="row-fluid">
		<div class="span12">
			<i><h3 style="text-decoration:underline">Welcome to TLC Dental Group</h3><h5>TLC is many facets of care.</h5></i>
		</div>
	</div>
<div id="left-welcome">
	<div class="row-fluid">
		<div class="span6 offset4">
			<p style="margin-left: -25px;">
				TLC is Art expressed by our Toothbrush Mailbox<br>
				TLC is Comfort in the relaxed ambiance of our office<br>
				TLC is Gentle care for your peace of mind<br>
				TLC is a Dream Smile from a palette of possibilities<br>
				TLC is Robust Health from a full range of services<br>
				TLC is Modern Technology for optimum treatment<br>
			</p>
		</div>
	</div>
</div>
<div class="welcome-text">
	<div class="row-fluid">
		<div class="span12">
			<h4>
				We at TLC warmly welcome you to<br>
				our family of staff and patients.
			</h4><br>
			<%=	image_tag 'homepage-signature.jpg' %>
		</div>
	</div>
</div>