<div class="row-fluid">
	<div class="span2">
		<%= image_tag 'dreamsmiles-btn.png' %>
	</div>
	<div class="span2 offset8">
		<%= image_tag 'socialmedia-btn.png' %>
	</div>
</div>
<div id="welcome-text">
	<div class="row-fluid">
		<div class="span12">
			<h3 style="text-decoration:underline">Welcome to TLC</h3><h4>TLC is many facets of care.</h4>
			<p>
				TLC is Art expressed by our Toothbrush Mailbox<br>
				TLC is Comfort in the relaxed ambiance of our office<br>
				TLC is Gentle care for your peace of mind<br>
				TLC is a Dream Smile from a palette of possibilities<br>
				TLC is Robust Health from a full range of services<br>
				TLC is Modern Technology for optimum treatment<br>
			</p>
			<h4>
				We at TLC warmly welcome you to<br>
				our family of staff and patients.
			</h4><br>
			<%=	image_tag 'homepage-signature.jpg' %>
		</div>
	</div>
</div>