<title>Loose or Lost Tooth | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Loose or Lost Tooth</h3>
			<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			<p>
				If a tooth is loose or is partially out of its socket, it is called an extruded tooth and it should immediately be treated by TLC Dental.  We will carefully examine the tooth and gum and then take every necessary measure to save it.  If a tooth has been knocked out of its socket, it is called an avulsed tooth and should immediately be treated by TLC Dental.  We will provide you with instructions on caring for the tooth while en route to our office and upon your arrival we will take every possible step to reimplant and save your tooth or offer options for replacing it.<br>
			</p>
			<p>
				Throughout your treatments for loose or lost teeth you will enjoy the comfort of our signature “Gentle Dentistry.”
			</p>
			<p>
				For  definitions related to an avulsed and extruded tooth consult Dr. Rothenberg's Dental Dictionary.  And for prompt treatment and alleviation of these conditions, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>									
		</div>
	</div>
</div>