<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Oral Cancer Screening</h3>
			<p>
				Oral cancer is an abnormal growth of cells in the lips, tongue, mouth, and throat that may spread to other areas of the body.  It is a devastating and deadly cancer that often goes unnoticed until it has progressed to later stages.<br>
			</p>
			<p>
				<b>Statistics and Consequences of Oral Cancer are Humbling</b>
			</p>
			<ul>
				<li>Approximately 100 people in the U.S. are diagnosed with oral cancer every day</li>
				<li>One person in the U.S. dies from oral cancer every hour</li>
				<li>Of these oral cancer fatalities, 70% were not screened regularly and when diagnosed were at a late malignancy stage</li>
				<li>25% of all oral cancer victims have no risk factors</li>
				<li>Devastating facial effects generally attend late stage oral cancer</li>
			</ul>
			<p>
				<b>Treatment Options for Oral Cancer are Progressively Challenging</b>
			</p>
			<ul>
				<li>Early stage treatment is usually limited to simple removal of the diseased tissue</li>
				<li>If the diseased tissue is not treated early and is invasive, treatment may involve removing a large portion of the tongue, lower jaw, or throat</li>
				<li>Treatment for later stage cancer that spreads to other areas of the body may involve chemotherapy, radiation, and surgical removal of tissue and organs</li>
			</ul>	
			<%= image_tag 'acs_logo.jpg', :class => "float-right" %>	
			<p>
				<b>Risk Factors for Oral Cancer</b>
			</p>
			<ul>
				<li>Previous history of oral cancer or precancerous lesions</li>
				<li>Tobacco use at all ages (cigarettes, cigars, pipes, smokeless tobacco)</li>
				<li>Alcohol consumption</li>
				<li>Marijuana use</li>
				<li>Age 40 or older</li>
				<li>Gender: men are twice as likely to develop oral cancer than women</li>
				<li>Human papillomavirus (HPV) 16/18 infection (a common and often unrecognized sexually transmitted virus)</li>	
			</ul>
			<p>
				<b>Importance of Early Oral Cancer Detection</b><br>
				As oral cancer is 90% curable when detected early and as later detection can hold grave consequences, you should immediately schedule a TLC oral cancer screening if you are subject to any of the above risk factors.  And as 25% of all oral cancer victims have no risk factors, you should schedule regular TLC “Recares” that include oral cancer screenings.<br>
			</p>
			<p>
				<b>TLC Oral Cancer Screening</b><br>
				Although important, a visual oral cancer exam using just the eye fails to identify a majority of early lesions.  It should be supplemented by chemiluminescent technology that has proven clinically successful in identifying suspicious abnormalities in the earliest stages of development.<br>
			</p>
			<p>
				That’s why at TLC Dental, we provide you with optimal oral cancer screening by using a combination of a careful visual examination and the ADA approved ViziLite Plus T Blue detection system. The latter begins with a desiccating (drying) pre-rinse that makes cell nuclei more visible to our special light.  A temporary and non-toxic blue dye is applied to suspicious areas.  The dye is retained only on lesions with active cells that are marked for further evaluation, monitoring, and diagnosis.<br>
			</p>
			<p>
				<b>Gentle Comfort</b><br>
				During the brief oral cancer screening you will enjoy the comfort of our signature “Gentle Dentistry.<br>” 
			</p>
			<p>
				<b>More Information</b><br>
				For more information on oral cancer screening, click on Dr. Rothenberg’s Dental Encyclopedia. And to schedule an oral cancer screening, please call the TLC Dental Group, Fayetteville / Manlius office at 315-637-7684.  		
			</p>	
		</div>
	</div>
</div>