<title>Root Canal | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Root Canal</h3>
			<p>
				Severely damaged or infected pulp, caused by an untreated cavity or a fractured tooth, can produce an abscess in the jawbone and pose serious health risks.  A root canal treatment removes this damaged or infected pulp from the tooth’s pulp  chamber and root canals, treats any infection, fills the chamber and canals, and secures the tooth.  A tooth might need a root canal if:
				<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
			</p>
			<ul>
				<li>It hurts when you bite down on it, touch or push it</li>
				<li>It is sensitive to heat</li>
				<li>It is sensitive to cold for more than a couple of seconds</li>
				<li>There is swelling near the tooth</li>
				<li>It is discolored regardless of pain</li>
				<li>It is broken</li>
			</ul>
			<p>	
				Should you experience any of these symptoms, it is important that you promptly seek treatment from TLC Dental. We will carefully examine your tooth and gums and determine whether a root canal treatment would be the most appropriate treatment for the tooth.  If our tests are affirmative, we would provide for the above procedure and at its conclusion emplace either a filling or a crown on the tooth to secure its future health.<br>
			</p>
			<p>
				Although root canals have long had a foreboding image, you will experience only relief as you enjoy the comfort of our signature “Gentle Dentistry.”<br>
			</p>
			<p>
				For definitions related to a dental root canal consult Dr. Rothenberg's Dental Dictionary.  And for prompt alleviation and treatment of root canal symptoms, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.   
			</p>									
		</div>
	</div>
</div>