<div class="row-fluid">
	<div class="span12">
		<div class="contact-container">
			<h3>TLC Soft Tissue Management</h3>
			<p>
				TLC Soft Tissue Management (STM) is a professional and personal system developed for early detection, diagnosis, treatment, and maintenance of periodontal disease.  Its regular re-evaluations and periodontal maintenance are designed to prevent tooth loss and the need for periodontal surgery.
			</p>
			<p>
				It comprises the following two elements:
			</p>
			<p>
				<%= image_tag 'STM_tooth.jpg', :class => "float-right" %>
				<b>Professional</b><br>
			</p>
			<ul>
				<li>Regular periodontal examinations to measure pocket depths, recession, inflammation, bleeding, teeth mobility, infection level, plaque index, color, tone, and contour of gingiva</li>
				<li>Infection control by regular removal of tartar and calculus through scaling and root planing with the advanced Cavitron Jet Plus and the Pro Select Platinum Pezio Ultrasonic Scaler with heated irrigation</li>
				<li>Regular Arestin treatment of periodontal pockets</li>
				<li>TLC fluoride treatment to inhibit root decay and sensitivity</li>
				<li>Instruction on use of the Rotadent</li> 
				<li>Use of a 0.12% Chlorhexidine Gluconate oral rinse and Listerine for reducing dental plaque and oral 	bacteria</li>
			</ul>
			<p>
				<b>Personal</b>
			</p>
			<ul>
				<li>Regular use of dental floss</li>
				<li>Regular and proper use of the Rotadent, an essential part of STM</li>
				<li>Regular use of a TLC tongue cleaner to remove bacterial build-up, food debris, fungi, and dead 		   cells from the surface of the tongue</li>
				<li>Regular use of a 0.12% Chlorhexidine Gluconate rinse during infections</li>
				<li>Regular use of Listerine use for maintenance</li>
				<li>Regular use of fluorides for sensitivity and remineralization </li>
				<li>Faithful observance of your regularly scheduled STM procedures and examinations</li>
			</ul>
			<p>
				<b>Goal of TLC Soft Tissue Management</b><br>
				In creating a personal STM program we share a common goal of providing for your periodontal health and preventing surgery and tooth loss, the results of untreated periodontal disease.
			</p>
				<p>
				<b>More Information</b><br>
				For more information on Soft Tissue Management, click on Dr. Rothenberg’s Dental Encyclopedia. And for a personal STM program, please call the TLC Dental Group, Fayetteville / Manlius office at 315-637-7684.
			</p>
		</div>
	</div>
</div>