<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			Staff
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Dr. Rothenberg</h3>

			<p>Dr. Stephen J. Rothenberg is the founding dentist of the TLC Dental Group.  The son of a well established Syracuse family, he attended Nottingham High School and then Fairleigh Dickinson before completing his dental studies at Northwestern University.  He initially joined a prominent Manhattan practice but mindful of his roots, he returned in 1980 to Syracuse and with his wife, Marsha, opened his practice in DeWitt.  Seven years later, as his practice and family grew, he moved his home and office to the spacious Fayetteville/Manlius location.<br>

			Dr. Rothenberg is a member of the Onondaga Dental Society, the Fifth District Dental Association of New York, the First District Dental Association of New  York, the New York State Dental Association, the Academy of General Dentists, the American Academy of Cosmetic Dentists, and the American Dental Association.  He annually attends numerous conferences and seminars to master the newest advances in dental treatment and technology.  And in recognition of his professional accomplishments, he was named Dentist of the Year in 2013 by Excellence-in-Health Care.<br>

			Together with his wife Marsha, Dr. Rothenberg supports many local groups and organizations including Symphony Syracuse, the Everson Museum, the Syracuse Stage, and the Rosamond Gifford Zoo. They also enjoy the theatrical, musical, and athletic performances of their family of patients.<br>

			Most notably, Dr. Rothenberg is devoted to his family, to his wife and to their daughters Delilah and Tiffany, who, although living in New York City, return regularly to the family fold.  To complement his life of work and family, Dr. Rothenberg pursues several avocations.  Art has been a gift and passion from early age and is manifest in the “toothbrush mailbox” of his design, in the murals that grace the walls of his home, and especially in the "Dream Smiles" that define his patients. .He also has long been an advocate of physical fitness and body building.  In all, Dr. Rothenberg's life has been one of caring for his family, his community, and particularly his patients.<br>



			“Professionally and personally, my life has been defined by caring for my immediate family and for my family of patients.  Foremost, has been my desire to protect them from fear and pain and to provide for their physical and mental well being, a commitment etched in the name of the practice.<br>

			Treating my family of patients with tender care, alleviating their anxieties, and assuring their optimum dental and general health is my calling.  Providing them with a radiant smile, the best expression of their health and happiness, is my joy.”

			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Dr. Brinker</h3>

			<p>
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Marsha Rothenburg</h3>
			<p>Marsha is a co-founder with her husband, Dr. Rothenberg, of the TLC Dental  Group and from its inception has served as Manager.  The daughter of a successful Syracuse business family whose enterprises included Fulton Iron and Steel and Kamp Airport, she was instilled as a child with a love and understanding of business.  She attended Jamesville DeWitt High School and then college in Boston, where she excelled in multitasking and in business by managing the largest health club and spa in the city while completing her B.A. degree.<br>

			Marsha brought her business acumen to the management of TLC and with her husband created a large and vibrant family of patients.  They achieved this by effectively introducing the services and commitment of the practice to the community. Equally important was their judicious hiring, training, and nurturing of the staff.  Not only did they bring together a team of accomplished professionals but they also instilled in them a common commitment to service and cared for them as a family.  The lasting bond of this family of practitioners is evident in its many years of collective service.   And most important was the heartfelt care that they brought to patients.  From allaying the anxiety of a child to assuring the comfort of an elder, they built the enduring strength of this family of patients that now embraces generations.<br>

			In addition to her accomplished management of the TLC Dental Group, Marsha is a member of the American Association of Dental Office Managers and for four years served as President of the Onondaga County Dental Auxiliary.<br>

			Marsha and Dr. Rothenberg also have been staunch advocates of Green Dentistry as manifest in the furnishing, equipping, and managing of their practice and particularly in their founding of the Green Dental Society.  Further expressive of their environmental commitment is membership in the Citizens Campaign for the Environment, the Sierra Club, the Audubon Society, and the Cornell Lab of Ornithology, and their founding of the Green Dental Society.<br>

			Finally, Marsha is well known in Syracuse political circles for her support of Hillary Clinton.  She was one of the first CNY supporters of Hillary’s Senate campaign and subsequently organized numerous events on her behalf.  She also served as a member of the Executive Finance Committee in her Presidential campaign.  However, in an age of increasingly partisan politics, Marsha’s circle of friends includes many Republicans and in managing TLC Dental, politics stays at the door.  Republicans, Democrats, and Independents are all treated with tender loving care.<br>                                                        
			“I consider myself to be singularly blessed with three families: my personal family, my family of practitioners, and my family of patients.  For more than a quarter of a century it has been my joy to share in their growth, health, and happiness.  TLC Dental Group is more than a name for me.  It is my three families.”  
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Jill Carlucci<br>
				Dental Assistant
			</h3>
			<p>Jill has worked side by side with Dr. Rothenberg for twenty years in creating "Dream Smiles" for our patients.  She received her Dental Assistant certificate from OCM BOCES and takes pride in continually updating her professional skills.  She lives in Kirkville with her husband Patrick and is a dutiful mother to her daughters Jessica and Emma and a doting grandmother to her granddaughter Abriel.  She enjoys going to the gym and rewarding herself with dinner at Delmonico's.  In turn, your visits to TLC Dental will be rewarded with Jill's gentle care and years of experience. 
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Louise Anne Degaetano<br>
				Dental Hygienist
			</h3>
			<p>Louise has devoted a dozen years to maintaining the dental health and appearance of our patients.  She received A.A.S.degrees in both Computer Science and Dental Hygiene and has aptly applied this knowledge to the advanced technology of TLC Dental. She is the proud mother of Michael, Joseph and Louis and the equally proud grandmother of Maria, Josephine, Edward, and Anthony.  She also excelled in animal husbandry as the former custodian of a dog, cat, rabbit, duck, squirrel, ferret, hamster, and fish, all of whom left the nest with the departure of the boys.  Her pursuits now tend to exercise, crafts, computers, and, of course, the kids.  In your visits to TLC Dental, you will enjoy her personal care and her command of modern dental technology.
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Donald Dixie<br>
				Ombudsman
			</h3>
			<p>There's upkeep involved in any family and when you have a family of patients and practitioners as large as TLC Dental there's a boat load of upkeep.  A day never passes without all of us thanking Donny for promptly and efficiently addressing the unexpected demands of a dental office from jump starting a patient's car to repairing a router and for maintaining everything in pristine condition. When he is not tending TLC needs, Donny dotes on his new wife Mindy and his new son Carter and keeps himself fit by swimming, camping, and working out.  Our "man for all seasons" has a medley of talents honed in the home improvement industry and, as a former co-owner of Opus, in the restaurant trade.  In your visits to TLC Dental, you will understand why we don’t lament fine dining’s loss.
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Kimberly Karn<br>
				Dental Assistant
			</h3>
			<p>Like Diana, Kim is a newcomer to TLC Dental although not to the Syracuse area where she attended high school in Baldwinsville and then pursued dental studies in the BOCES Medical Assistant program.  Kim lives in Syracuse and has two sons: Patrick and Nathan and a dog named ______.  When not assisting patients at TLC and attending to domestic matters, Kim enjoys the great outdoors, gardening, and reading.  You also might find yourself sitting next to her one day at Ichiban, her favorite restaurant.  In your visits to TLC Dental, Kim will surely impress you with her gracious and gentle manner.
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Traci Klix<br>
				Dental Assistant
			</h3>
			<p>Traci hails from Seneca Falls and has been a valued member of TLC Dental for two years. She receiveed her Dental Assistant certification from MCC and her Implant certification from IOCC. Traci currently calls Camillus home and lives there with her husband Robert, her two year old daughter Kylie, and their cat Vedder. She loves spending time with family and friends, cooking, concerts, and the “grill master’s” steaks. In your visits to TLC Dental, Traci’s warmth will melth any trepidations and will make you feel completely at home.
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Joy McDermott<br>
				Office Receptionist
			</h3>
			<p>Joy embodies the sense of family that defines our practice.  She has greeted and assisted our patients for 15 years and is even more familiar to them than the Toothbrush Mailbox.  She received her Dental Assistant certificate from OCM BOCES and was laurelled "Student of the Year" before beginning her faithful service to TLC Dental.  An animal lover, Joy resides in Cazenovia with two dogs anda bearded dragon.   When not tending to this brood, she enjoys the company of her son Cullen, camping, volunteering, and building doll houses.  In your visits to TLC Dental, you will enjoy the warmth and care that Joy brings to assisting our patients.
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Kay Simonson<br>
				Dental Hygienist 
			</h3>
			<p>Kay hails from Staten Island and seven years ago brought to TLC Dental an impressive collection of degrees: B.S.E., M.S.E. and A.A.S. complemented by a diverse resume including professional clown, swim coach, and vacation entrepreneur.  She now lives in Syracuse with her three children, two cats and a dog from whom she takes occasional leave for such leisurely pursuits as competitive swimming, triathlons, and unicycling.  In your visits to TLC Dental, Kay will display her triathletic qualities by making you laugh, giving you tips on your back stroke, and providing you with truly exceptional dental care.
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>The TLC Tooth</h3>
			<table>
				<tr>
					<td>Birthplace:</td>
					<td>Gumville</td>
				</tr>		
				<tr>
					<td>Brothers:</td>
					<td>31 but four sometimes hide</td>
				</tr>
				<tr>
					<td>Realatives:</td>
					<td>The Wisdom Tooth, (my great, great, great, great, great, great... grandfather)</td>
				</tr>	
				<tr>
					<td>Most Frightening Thing:</td>
					<td>Peach pits and hockey pucks</td>
				</tr>	
				<tr>
					<td>Most Fun Thing:</td>
					<td>Smiling at children</td>
				</tr>							
				<tr>
					<td>Second Most Fun Thing:</td>
					<td>Watching them smile back at me</td>
				</tr>
				<tr>
					<td>Third Most Fun Thing:</td>
					<td>Getting buffed by my hygienist</td>
				</tr>
				<tr>
					<td>Favorite Drink:</td>
					<td>Mint Flavored Listerine</td>
				</tr>
				<tr>
					<td>Favorite Song:</td>
					<td>When You’re Smiling, the Whole World Smiles With You</td>
				</tr>
				<tr>
					<td>Favorite Person:</td>
					<td>Dr. Rothenberg. He really takes good care of me (and he never hurts me)</td>
				</tr>
				<tr>
					<td>Second Favorite Person:</td>
					<td>Oprah (she’s got a great smile)</td>
				</tr>
				<tr>
					<td>Third Favorite Person:</td>
					<td>Jack Lalanne (the guy towed boats with his teeth)</td>
				</tr>
			</table>								
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>Flossie</h3>
			<table>
				<tr>
					<td>Birthplace:</td>
					<td>Frank Baum Kennels in Chittenango. Toto VII was my best friend there</td>
				</tr>		
				<tr>
					<td>Realatives:</td>
					<td>Buddy and Seamus, two Labradors who led spoiled lives in the Clinton White House, were distant cousins</td>
				</tr>	
				<tr>
					<td>Most Frightening Thing:</td>
					<td>Our Cowardly Lion (I'm just  kidding, he's really a pussycat but I don't tell him that)</td>
				</tr>	
				<tr>
					<td>Most Fun Thing:</td>
					<td>I only come into the office when new and anxious patients ask to see me.  And when I make them happy, it's the best feeling in the world.</td>
				</tr>							
				<tr>
					<td>Second Most Fun Thing:</td>
					<td>Making our patients smile when I wag my tail</td>
				</tr>
				<tr>
					<td>Third Most Fun Thing:</td>
					<td>Watching some of the kids wag their tail back at me</td>
				</tr>
				<tr>
					<td>Most Proud Thing:</td>
					<td>Earning my Therapy Dog Certificate</td>
				</tr>
				<tr>
					<td>Favorite Food:</td>
					<td>Office treats (but don't tell Dr.Rothenberg)</td>
				</tr>				
				<tr>
					<td>Favorite Drink:</td>
					<td>Fluoridated water. It's good for my teeth</td>
				</tr>
				<tr>
					<td>Favorite Song:</td>
					<td>When You’re Smiling, the Whole World Smiles With You</td>
				</tr>
				<tr>
					<td>Favorite Person:</td>
					<td>All our patients are my favorite perosn</td>
				</tr>
			</table>								
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>The Cowardly Lion</h3>
			<p>For more than a quarter of a century our calling card has been “We cater to dental cowards.”  It is an invocation that has reached far and wide, even to the Cowardly Lion who takes leave of the Kingdom of Oz every six months to visit us for teeth cleaning.<br>

			He is so enamored of our “Gentle Dentistry” that he often extends his visits and, in the manner of Hollywood stars, is drawn to public events and celebrations where he bathes in the adoration of his fans and, in the manner of dental converts, exhorts them to join the TLC Dental family of patients.<br>

			We are so grateful for his dedication to TLC Dental that we have made him our official Ambassador-at-Large and have awarded him a "Dream Smile" medal that he polishes daily and wears proudly.  You may encounter him at any number of area festivities where he will smile radiantly, give you a TLC toothbrush, and perhaps say a few words about his friends in Oz. 
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="content-container">
			<h3>The Wisdom Tooth</h3>
			<p>Unbeknownst to most people, I have a library in the TLC Dental Group office building where I bide my time expanding my vast wisdom and honing my keen wit.  However, I'll say no more about myself for, as the senior member of the TLC Dental staff, I fittingly have my own web site, thewisdomtooth.com, where you will find my Autobiography, my Daily Words of Wit and Wisdom, and my Dental Gazette.<br>

			I would be delighted to have you visit my website, where I will cordially greet you in my library, offer you a glass of sherry, and engage you in a discussion both edifying and diverting.<br>

			Vivat Scientia,<br>

			The Wisdom Tooth
			</p>				
		</div>
	</div>
</div>