<div class="row-fluid">
	<div class="span12">
		<div class="contact-container">
			<h3>Grimy Sticky Teeth</h3>
			<p>	
				If your teeth feel “grimy and sticky;” if they don’t feel smooth when touched by your tongue; if they appear dull and dingy, they are coated with plaque, an invisible, sticky biofilm of bacteria and food elements that continually forms in your mouth, covers teeth and gums, and produces cavities and gum disease.
				If your teeth reflect this condition, you should contact TLC Dental for a Professional Dental Cleaning or “Recare” that will remove plaque and calculus and restore the clean look and feel of your teeth.
				<%= image_tag 'wisdomtooth.jpg', :class => "float-right" %>	
				<br><br>  

				A  Recare is a comfortable, biannual or, if needed, more frequent procedure that is performed by our skilled and experienced hygienists. It is a diagnostic, curative, preventive, and aesthetic procedure that is essential in achieving and maintaining your "Dream Smile."  Indeed, your dental and general health as well as your appearance are very much at risk if you are overdue for a Recare.<br><br>   

				Throughout your procedure you will enjoy the comfort of our signature “Gentle Dentistry.”  Click here for a fuller description of a Recare.  To schedule an appointment for this vitally important service please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>									
		</div>
	</div>
</div>