<title>Teeth Grinding | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Teeth Grinding</h3>
			<p>			
				Teeth grinding and clenching during the day and particularly at night is a dental problem called bruxism that afflicts about one out of three people and if untreated may result in broken fillings, enamel erosion, tooth sensitivity, tooth loss, gum and bone erosion, jaw dysfunction, headaches, hearing loss, and facial distortion.It can be caused by improper tooth alignment, crooked or missing teeth, muscle or nerve disorders of the face, side effects of medicine, and stress.<br>
			</p>
			<p>
				Common symptoms of bruxism are:
			</p>
			<%= image_tag "clearguard.jpg", :class => "float-right" %>
			<ul>
				<li>A grinding sound at night which may disturb the sleep of someone sharing the bedroom</li>
				<li>Headaches, particularly in the morning</li>
				<li>Discomfort or pain in opening your mouth wide, particularly in the morning</li>
				<li>Tight or painful jaw muscles</li>
				<li>Painful jaw joint</li>
				<li>Rhythmic contractions of the jaw muscles</li>
				<li>Occasional swelling on the side of your lower jaw</li>
				<li>Long lasting facial pain</li>
				<li>Broken fillings</li>
				<li>Tooth sensitivity and damage</li>
				<li>Gum and tooth erosion</li>
			</ul>
			<p>
				Should you experience any of these symptoms, it is important that you promptly seek treatment from TLC Dental.  We will review your medical history, medications, and symptoms and will conduct a thorough examination to determine the nature and cause of your bruxism.  We will address any damage to your teeth and gums and correct any abnormal alignment and bite.  We also will check for tenderness in your jaw muscles and jaw joint and provide relief for these symptoms.  If stress and medications are causal factors in your bruxism, we will suggest alternative medications and referrals for stress relief.<br>
			</p>
			<p>
				To prevent further bruxism damage until the corrective procedures are complete, we might prepare a full or partial Keller custom made mouth guard ( or bite splint) for you to wear especially at night.  Click here for more information on our Keller custom made bite splints.<br>
			</p>
			<p>
				Throughout your examination and treatment you will enjoy the comfort of our signature “Gentle Dentistry.”<br>
			</p>
			<p>
				For more information on teeth grinding, click on Dr. Rothenberg’s Dental Encyclopedia and Dr. Rothenberg's Dental Dictionary.   And for prompt alleviation and treatment of bruxism symptoms, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>
		</div>
	</div>
</div>