<title>TLC Dental Group Syracuse | TMD or TMJ</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Tempomandibular Joint Disorder (TMD or TMJ)</h3>
			<p>
				TMD, commonly and mistakenly called TMJ, is a collective term for jaw muscle,  jaw joint (TMJ), facial muscle, and facial nerve disorders that may produce jaw pain, difficulty in opening and closing the mouth, sensitive teeth, headaches, earaches, orofacial pain, and possibly fibromyaglia.  These disorders may be caused by trauma to the jaw, arthritis of the jaw joint, tumors of the jaw joint, teeth grinding and clenching, poor alignment of teeth, tension, and stress. <br>
			</p>
			<p>
				Common symptoms of TMD are:
			</p>
			<%= image_tag "wisdomtooth.jpg", :class => "float-right" %>
			<ul>
				<li>Pain or tenderness in your ears without apparent infection or injury </li>
				<li>Pain and pressure behind your eyes</li>
				<li>Headaches that often resemble migraines</li>
				<li>A sudden change in your “bite,” the way the upper and lower teeth fit together</li>
				<li>Teeth sensitivity without apparent cause</li>
				<li>Facial muscle spasms</li>
				<li>A clicking or popping sound when you open or close your mouth</li>
				<li>Pain or tenderness in biting, chewing, talking, or opening your mouth</li>
				<li>A locking or sticking of your jaw when you talk, eat, or yawn</li>
			</ul>
			<p>
				If you experience any of these symptoms, you should promptly see TLC Dental for diagnosis and treatment.  We will conduct a thorough examination of your mouth, teeth, jaw muscles and joints, to determine the nature and cause of your symptoms.  If they derive from a TMD, we will treat their sources to relieve your pain and discomfort and we will provide you with a program of care and therapy to maintain your health.<br>
			</p>
			<p>
				Throughout your examination and treatment you will enjoy the comfort of our signature “Gentle Dentistry.
			</p>
		</div>
	</div>
</div>