<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Tooth Sensitivity</h3>
			<p>
				Hot, cold, sweet, and acidic food and drinks and even cold air cause sensitivity or pain in the teeth of many people.  This tooth sensitivity may be caused by tooth decay, tooth infraction, gum recession or erosion of tooth enamel that exposes dentin, the surrounding tissue of nerves, thereby triggering the sensitivity.<br>
			</p>
			<%= image_tag "wisdomtooth.jpg", :class => "float-right" %>			
			<p>
				If you suffer from tooth sensitivity you should see TLC Dental for immediate treatment.  We will detect the source of your sensitivity and provide you with appropriate and effective treatment.  <br>
			</p>
			<p>
				Throughout this treatment you will enjoy the comfort of our signature “Gentle Dentistry.”  <br>
			</p>
			<p>	
				For more information on tooth sensitivity click on Dr. Rothenberg’s Dental Encyclopedia and Dr. Rothenberg's Dental Dictionary.  And for prompt treatment and alleviation of your tooth sensitivity, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.<br>
			</p>
		</div>
	</div>
</div>