<title>TLC Dental Group Syracuse | Toothache</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Toothache</h3>
			<p>
				There are multiple causes of toothaches such as cracks, fractures, breaks, infections, abscesses, cavities, sinus and ear infections, gum, jaw, and supporting tissue disorders. Some of these conditions may have a halo effect requiring careful diagnosis to establish the toothache source.<br>
			</p>
			<%= image_tag "wisdomtooth.jpg", :class => "float-right" %>
			<p>
				The pain itself is a strong signal for you to see TLC Dental for immediate treatment.  We will determine the source of your pain, eliminate the pain, and offer options to restore your dental health.  <br>
			</p>
			
			<p>
				Throughout this restorative process you will enjoy the comfort of our signature “Gentle Dentistry.”<br>
			</p>
			<p>
				For more toothache information click on Dr. Rothenberg’s Dental Encyclopedia and Dr. Rothenberg's Dental Dictionary.  And for prompt treatment and alleviation of your toothache, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>
		</div>
	</div>
</div>