<title>Tooth Sensitivity | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Tooth Sensitivity</h3>
			<p>
				Hot, cold, sweet, and acidic food and drinks and even cold air cause sensitivity or pain in the teeth of many people.  This tooth sensitivity may be caused by tooth decay, tooth infraction, gum recession or erosion of tooth enamel that exposes dentin, the surrounding tissue of nerves, thereby triggering the sensitivity.<br>
			</p>
			<%= image_tag "wisdomtooth.jpg", :class => "float-right" %>			
			<p>
				If you suffer from tooth sensitivity you should see TLC Dental for immediate treatment.  We will detect the source of your sensitivity and provide you with appropriate and effective treatment.  <br>
			</p>
			<p>
				Throughout this treatment you will enjoy the comfort of our signature “Gentle Dentistry.”  <br>
			</p>
			<p>	
				For definitions related to tooth sensitivity consult Dr. Rothenberg's Dental Dictionary.  <span class="redlink">And for prompt treatment and alleviation of your tooth sensitivity, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684 or click <%= link_to "here to email us", contact_path(@contact, :anchor => "email"), :class => "redlink" %>. </span><br>
			</p>
		</div>
	</div>
</div>