<title>Tooth Cavity | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Tooth Cavity</h3>
			<p>
				A dental cavity or carie is tooth decay caused by mouth bacteria that build up on teeth in a sticky biofilm called plaque.  Absent proper oral hygiene, the bacterial decay will deteriorate the tooth’s enamel thereby forming a cavity.   If left untreated, it eventually will reach the soft pulp and sensitive nerves causing pain and tooth loss.  It also can spread to other teeth and, through kissing and shared utensils, even to other people.<br>
			</p>
			<%= image_tag "wisdomtooth.jpg", :class => "float-right" %>
			<p>
				If you are experiencing pain or sensitivity in a tooth or have not had a dental checkup in the past six months, you should see TLC for immediate treatment.  We will conduct a careful examination for both early and late stage cavities and will provide you with appropriate treatment options such as direct fillings, inlays, and onlays, <br>
			</p>
			<p>
				Throughout this treatment you will enjoy the comfort of our signature “Gentle Dentistry.”  <br>
			</p>
			<p>
				For more information on fillings click <%= link_to "here", dreamsmiles_fillings_path %>.  For definitions related to dental cavities consult Dr. Rothenberg's Dental Dictionary."  And for prompt detection and treatment of your dental cavity, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>
		</div>
	</div>
</div>