<title>Tooth Extraction | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Tooth Extraction</h3>
			<p>
				Although we make every effort to preserve our patient’s teeth, there are times when tooth extraction is necessary.  The severity of decay and abscess in teeth or gums may mandate extraction. Extra teeth may need to be extracted to allow normal teeth to come in.  Misaligned, impacted, or partially erupted wisdom teeth may require extraction. And irreparably fractured teeth and roots may require removal.<br>
			</p>
			<p>
				Failure to extract a tooth under these and other extreme conditions might enable infection to spread to other areas of the mouth, adversely affect gum tissue, threaten other teeth, prolong dental pain, and imperil your dental health. <br>
			</p>
			<%= image_tag "wisdomtooth.jpg", :class => "float-right" %>
			<p>
				If you feel that a tooth might require extraction, you should promptly contact TLC Dental for diagnosis and treatment.  We will digitally X-Ray and carefully examine the tooth and surrounding area.  If extraction is deemed necessary, we will determine the most effective course of extraction.  And upon completion of the procedure, we will provide you with detailed instructions on post extraction care.<br>
			</p>
			<p>
				Prior to your procedure, we will present you with options for anesthetics or sedation and throughout your procedure you will enjoy the comfort of our signature “Gentle Dentistry.”  <br>
			</p>
			<p>
				For definitions related to tooth extraction consult Dr. Rothenberg's Dental Dictionary.  <span class="redlink">And for prompt consultation on tooth extraction, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684 or click <%= link_to "here to email us", contact_path(@contact, :anchor => "email"), :class => "redlink" %>. </span>
			</p>
		</div>
	</div>
</div>