<div class="row-fluid">
	<div class="span12">
		<div class="contact-container">
			<h3>Veneers</h3>
			<p>
				Veneers are ultra-thin shells of porcelain that are bonded to the front surface of teeth to dramatically improve dental appearance.  They are a simple, comfortable, and popular way to cover imperfections and achieve a radiant smile.
			</p>
			<%= image_tag 'veneer.jpg', :class => "float-right" %>	
			<b>Veneers</b>
			<ul>
				<li>Fix stained or discolored teeth</li>
				<li>Provide a stain resistant tooth surface</li>
				<li>Fix chipped or broken teeth</li>
				<li>Fix worn down teeth</li>
				<li>Fix misaligned, uneven, or irregularly shaped teeth</li>
				<li>Fix undersized teeth</li>
				<li>Fix abnormally spaced teeth</li>
				<li>Fix teeth with large, unsightly fillings</li>
				<li>Provide a natural tooth appearance</li>
				<li>Create your Dream Smile</li>
			</ul>
			<b>Veneer Procedure</b><br>
			<p>
				Veneers are a two step procedure at TLC Dental.  Initially, we discuss your desired dental enhancements and carefully examine your teeth to establish their suitability for veneers. We then prepare the designated teeth, make exacting measurements and molds for fabrication of the veneers by a highly specialized laboratory, and fit you with temporary veneers.<br>

				In your second visit, we meticulously prepare the teeth, the translucent veneers, and the color imparting cement for your desired fit and color, and emplace your truly transformative veneers.
			</p>									
			<p>
				<b>Gentle Comfort</b><br>
				In the preparation and emplacement of your veneers, you will enjoy the comfort of our signature “Gentle Dentistry.”
			</p>						
			<p>
				<b>Veneer Composition</b><br>
				The Snap-On Smile reflects our motto: “The Art of Gentle Dentistry.”  We provide for your comfort throughout the procedure and for your dental health in a completely functional set of teeth.  And in artfully shaping and color coding your model, we make your Dream Smile come true.
			</p>
			<p>
				<b>Veneer Durability</b><br>
				The durability of a veneer, just like that of a normal tooth, is largely dependent on good dental hygiene and regular dental checkups.  With proper care, veneers may last for many years.
			</p>
			<p>
				<b>Veneer Appearance</b><br>
				In their creation, emplacement, and ultimate appearance your veneers will reflect our motto “The Art of Gentle Dentistry.”  We provide for your comfort in the procedure and for your dental health in sound and functional veneered teeth.  And in artfully shaping and coloring your veneers, we provide truly resplendent additions to your “Dream Smile.”
			</p>						
			<p>
				<b>More Information</b><br>
				For more detailed descriptions of bonding, click on Dr. Rothenberg’s Dental Encyclopedia and Dr. Rothenberg’s Dental Dictionary.  To learn if you might benefit from bonding, please call the TLC Dental Group Fayetteville / Manlius office at (315)-637-7684.
			</p>			
		</div>
	</div>
</div>