<title>Wisdom Teeth | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Common Dental Problems</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Wisdom Teeth</h3>
			<p>
				Wisdom teeth are the upper and lower third molars at the very back of the mouth that are the last permanent teeth to emerge, usually between the “wizened” years of 17 and 21.  They are useful teeth if they emerge without complication.  Regretfully, they may suffer from
			</p>
			<ul>
				<li>Misalignment, a condition in which they fully emerge but are misaligned</li>
				<li>Impaction, a condition in which they are submerged below the gum line in a vertical, horizontal, or angular position</li>
				<li>Partial Eruption, a condition in which they only partially emerge </li>
			</ul>
			<p>
				Serious dental problems may ensue from these conditions, including decay, infection, cysts, and damage to other teeth, gums, nerves, and jawbone.<br>
			</p>
			<p>
				Common symptoms of wisdom tooth complications are:
			</p>
			<ul>
				<li>Pain or jaw stiffness near an impacted wisdom tooth</li>
				<li>Ear pain</li>
				<li>Pain or irritation from a wisdom tooth coming in at an awkward angle and rubbing against your cheek, tongue, or top of the mouth</li>
				<li>Tooth decay or gum disease caused by difficult access for proper cleaning</li>
				<li>Crowding of other teeth by a wisdom tooth</li>
				<%= image_tag "wisdomtooth.jpg", :class => "float-right" %>
				<li>Damage to adjacent teeth</li>
			</ul>
			<p>
				Should you experience any of these symptoms, it is important that you promptly seek treatment from TLC Dental. We will take a detailed digital scan of your teeth and gums to establish the nature and extent of your wisdom teeth complications and determine whether extraction would be the most appropriate treatment.  If our examination is affirmative, we would provide for the above procedure and thereby alleviate your dental discomfort and assure your dental health.<br>
			</p>
			<p>	
				Throughout your examination and treatment you will enjoy the comfort of our signature “Gentle Dentistry.”
			</p>
			<p>		
				For definitions related to tooth sensitivity consult Dr. Rothenberg's Dental Dictionary.  And for prompt alleviation and treatment of wisdom teeth symptoms, please call the TLC Dental Group Fayetteville / Manlius office at (315) 637-7684.
			</p>
		</div>
	</div>
</div>